@import url("https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400&display=swap");
/*
Les variables
*/
html {
  width: 100%;
  margin: 0 0;
  font-family: "Montserrat";
}
html body {
  max-width: 100%;
  margin: 0 4px;
  background: #F9F4EE;
  font-size: "Montserrat";
  color: #31333C;
}
@media (min-width: 800px) {
  html body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
html body .ctn_project {
  margin-top: 0.5em;
}
@media (min-width: 500px) {
  html body .ctn_project {
    padding-left: 15%;
    padding-right: 15%;
  }
}
@media (min-width: 800px) {
  html body .ctn_project {
    height: 100%;
    width: 100%;
    border: 1px solid #31333C;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
html body h2 {
  color: transparent;
  font-size: 4em;
  font-family: "Holtwood One SC";
  -webkit-text-stroke: 0.7px;
  margin: 0 15px 0 10px;
}

button {
  color: #fff;
  background: #31333C;
  padding: 20px 15px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 1.1em;
}

.title {
  text-align: right;
  border: 1px solid #31333C;
  border-radius: 10px;
  padding: 1em 1em;
  font-family: "Holtwood One SC";
  color: #D9531A;
  text-shadow: -3px 3px #31333C;
}
@media (min-width: 800px) {
  .title {
    flex: 0 1 50%;
    width: 30%;
  }
}
.title h1 {
  font-size: xxx-large;
  word-wrap: break-word;
}
@media (min-width: 800px) {
  .title h1 {
    font-size: xx-large;
  }
}
@media (min-width: 1000px) {
  .title h1 {
    font-size: xxx-large;
  }
}

.provinces {
  background-color: #31333C;
  color: #fff;
  border-radius: 10px;
  margin-top: 2em;
  padding: 0 3px 1.5em 3px;
}
@media (min-width: 800px) {
  .provinces {
    flex: 0 1 35%;
    width: 31.6666666667%;
  }
}
.provinces div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.provinces div h2 {
  -webkit-text-stroke-color: #fff;
}
.provinces div p {
  font-size: 24px;
  line-height: 2em;
}
.provinces label {
  font-size: 24px;
  margin-left: 2em;
}
.provinces select {
  height: 45px;
  width: 85%;
  background-color: #31333C;
  color: #fff;
  border: solid 2px #fff;
  border-radius: 5px;
  margin-left: 2em;
  font-size: 1.1em;
}
@media (min-width: 800px) {
  .provinces select {
    width: 70%;
    margin: 0 auto 0 2em;
  }
}

.amount {
  background-color: #D9531A;
  color: #31333C;
  border-radius: 10px;
  margin-top: 2em;
  padding: 0 3px 1.5em 3px;
}
@media (min-width: 800px) {
  .amount {
    flex: 0 1 70%;
    width: 30%;
    margin-top: 0;
  }
}
.amount h2 {
  -webkit-text-stroke-color: #31333C;
}
.amount form {
  background: #F9F4EE;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 75%;
  padding-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
}
@media (min-width: 800px) {
  .amount form {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}
@media (min-width: 1000px) {
  .amount form {
    margin-bottom: unset;
  }
}
.amount form label {
  font-size: 24px;
}
.amount form input {
  border: none;
  border-bottom: solid 2px #31333C;
  background-color: transparent;
  line-height: 3em;
  font-size: 24px;
  width: 50%;
  margin-bottom: 1em;
  text-align: center;
}
@media (min-width: 800px) {
  .amount form input {
    margin-bottom: unset;
  }
}

.decoCircle {
  font-size: 6em;
}
.decoCircle span:nth-child(1) {
  color: #31333C;
}
.decoCircle span:nth-child(2) {
  color: #fff;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #31333C;
}
.decoCircle span:nth-child(3) {
  color: #D9531A;
}
.decoCircle span:nth-child(4) {
  color: transparent;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: #31333C;
}

.result {
  color: #31333C;
  border-radius: 5px;
  margin-top: 2em;
  padding: 0 3px 0 3px;
  position: relative;
  border: solid 1px #31333C;
  width: 95%;
  height: fit-content;
}
@media (min-width: 800px) {
  .result {
    aspect-ratio: unset;
    flex: 0 1 75%;
    width: 30%;
    height: fit-content;
  }
}
.result_ctn {
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  top: -8px;
  left: -8px;
  height: 100%;
  width: 100%;
  z-index: 4;
  border: solid 1px #31333C;
}
.result_ctn .ctn_result {
  max-width: 100%;
}
.result_ctn .ctn_result__title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.result_ctn .ctn_result__title h2 {
  -webkit-text-stroke-color: #31333C;
}
.result_ctn .ctn_result__title p {
  padding-left: 1em;
  font-size: 24px;
}
.result_ctn .resultDisplay p {
  margin-left: 0.5em;
  font-size: 1.3em;
}

.decoMaple {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
@media (min-width: 800px) {
  .decoMaple {
    flex: 0 1 18%;
    width: 30%;
  }
}

.decoCircle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
@media (min-width: 800px) {
  .decoCircle {
    flex: 0 1 18%;
    width: 30%;
  }
}

footer {
  text-align: center;
  margin: 2em 0;
  background: #31333C;
  color: #F9F4EE;
  padding: 2em 0;
}

/*# sourceMappingURL=styles.css.map */
