.decoMaple{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    @media (min-width: 700px) {
        flex: 0 1 18%;
        width: calc(90% / 3);
    }
}
.decoCircle{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    @media (min-width: 700px) {
        flex: 0 1 18%;
        width: calc(90% / 3);
    }
}