.provinces{
    background-color: $blue;
    color: $white;
    border-radius: 10px;
    margin-top: 2em;
    padding: 0 3px 1.5em 3px ;
    @media (min-width: 700px) {
        flex: 0 1 35%;
        width: calc(95% / 3);
    }
    h2{
        -webkit-text-stroke-color: $white;
    }
    label{
        font-size: 24px;
        margin-left: 2em;
    }
    select{
        height: 45px;
        width: 85%;
        background-color: $blue;
        color: $white;
        border: solid 2px $white;
        border-radius: 5px;
        margin-left: 2em;
        @media (min-width: 700px) {
            width: 70%;
            margin: 0 auto;
        }
    }
}