.result{
    color: $blue;
    border-radius: 5px;
    margin-top: 2em;
    padding: 0 3px 0 3px ;
    position: relative;
    border: solid 1px $blue;
    width: 95%;
    height: fit-content;
    @media (min-width:800px) {
        aspect-ratio: unset;
        flex: 0 1 75%;
        width: calc(90% / 3);
        height: fit-content;
    }
    &_ctn{
        background-color: $white;
        border-radius: 5px;
        position: relative;
        top: -8px;
        left: -8px;
        height: 100%;
        width: 100%;
        z-index: 4;
        border: solid 1px $blue;
        .ctn_result{
            max-width: 100%;
            &__title{
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                h2{
                    -webkit-text-stroke-color: $blue;
                }
                p{
                    padding-left: 1em;
                    font-size: 24px;
                }
            }
            
        }
        .resultDisplay{
            
            p{
                margin-left: .5em;
                font-size: 1.3em;
            }
        }
    }
}
